<nav class="navbar navbar-expand-lg fixed-top navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            <span class="material-icons" style="vertical-align: middle; margin-right: 8px;">cloud</span>
            {{ site.title }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% for link in site.nav_links %}
                <li class="nav-item">
                    <a class="nav-link" href="{% if link.url contains '#' %}{{ link.url }}{% else %}{{ link.url | relative_url }}{% endif %}">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
